<div class="container">
  <h1>Welcome Mavidev App</h1>
  <form [formGroup]="createNote">
    <div class="form-group">
      <label for="note">Note</label>
      <input type="text" class="form-control" placeholder="enter note" id="note"
              [(ngModel)]="allNotes.note" formControlName="note">
    </div>
    <button type="submit" class="btn btn-primary" (click)="saveNote()" [routerLink]="['/item-list']" >Save</button>
  </form>
</div>
