<div class="container">
  <h1>Welcome Mavidev App</h1>
  <!--form >
    <div class="form-group">
      <table *ngFor="let note of noteValue">
        {{ note.note}}
      </table>
    </div>
    <button type="submit" class="btn btn-success"  [routerLink]="['/home']" >Back</button>
  </form-->

  <div class="list-group">
    <a type="button" class="list-group-item list-group-item-action active">Item List</a>
    <a type="button" class="list-group-item list-group-item-action" *ngFor="let note of noteValue">{{ note.note}}
      <div class="mat-button listButton">
        <button type="submit" class="btn btn-primary"  [routerLink]="['/home']" >
          <div class="text">Update</div>
        </button>
        <button type="submit" class="btn btn-primary deleteButton"  [routerLink]="['/home']" >
          <div class="text">Delete</div>
        </button>
      </div>
    </a>
  </div>
  <button type="submit" class="btn btn-primary"  [routerLink]="['/home']" >Back</button>
</div>

